/*# sourceMappingURL=contact.css.map */

.section-header {
    .section-title {
      font-weight: bold;
      color: #4e4e4e;
      font-family: 'Raleway', sans-serif;
      position: relative;
      margin-bottom: 2rem;
      span {
        color: #248eff;
      }
      &:after {
        content: '';
        content: '';
        display: block;
        height: 3px;
        width: 70px;
        background: #248eff;
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .section-subtitle {
      max-width: 700px;
      color: #6f6f6f;
      font-size: 0.9rem;
    }
}
